{% extends "base.html" %}
{% load friendshiptags %}
{% load static %}

{% block title %}User: {{ to_user.username }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>{{ to_user.username }}</h2>
      {% if to_user.name %}
        <p>{{ to_user.name }}</p>
      {% endif %}
    </div>
  </div>

<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12">
  {% if to_user == request.user %}
    <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">My Info</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>
    <!-- Your Stuff: Custom user template urls -->
    <h2>Your request</h2>
    <ul>
    {% for friendship_request in requests %}
        <li>{{ friendship_request.from_user }} to {{ friendship_request.to_user }} <a href="{% url 'users:requestdetail' friendship_request.id %}">view</a></li>
    {% empty %}
    <div>no requests :(</div>
    {% endfor %}
    </ul>
  {% else %}
    {% if not request.user in friends %}
      <h2>add friend</h2>
        {% if errors %}<p>{{ errors|join:", " }}</p>{% endif %}
        <form method="post" action="{% url 'users:addfriend' to_user.username %}">
        {% csrf_token %}
        <input type="submit" value="add {{ to_user.username }} as a friend" />
        </form>
    {% else %}
        <h2>remove friend</h2>
        <form method="post" action="{% url 'users:removefriend' to_user.username %}">
        {% csrf_token %}
        <input type="submit" value="remove {{ to_user.username }} as a friend" />
        </form>
    {% endif %}

    {% if not request.user in followers %}
        <h2>follow</h2>
        {% if errors %}<p>{{ errors|join:", " }}</p>{% endif %}
        <form method="post" action="{% url 'users:addfollow' to_user.username %}">
        {% csrf_token %}
        <input type="submit" value="start following {{ to_user.username }}" />
        </form>
    {% else %}
        <h2>stop follow</h2>
        <form method="post" action="{% url 'users:removefollow' to_user.username %}">
        {% csrf_token %}
        <input type="submit" value="stop following {{ to_user.username }} " />
        </form>
    {% endif %}
  {% endif %}
  <h2>Gallery</h2>
  <form method="post" action="{% url 'galleries:userlist' to_user.username %}">
  {% csrf_token %}
  <input type="submit" value="Explore Gallery {{ to_user.username }} " />
  </form>

  <h2>followers</h2>
    <ul>
      {% for f in followers %}
      <li>{{ f }}</li>
      {% endfor %}
    </ul>
  </div>

</div>
<!-- End Action buttons -->


</div>
{% endblock content %}
