{% extends "base.html" %}

{% load static i18n %}
{% load thumbnail %}

{% block title %}Galleries{% endblock %}

{% block content %}
  <div class="container">
    <h2>Galleries</h2>
    <div class="list-group">
      {% for gallery in gallery_list %}
        <div id="{{ gallery.id }}_master" class="list-group-item available">
          <h4 class="list-group-item-heading">
            <a href="{% url 'galleries:detail' pk=gallery.id %}">{{ gallery.title }}</a>
          </h4>
          {% if gallery.author.id == user.id or user.is_superuser %}
            <button id="{{ gallery.id }}_delete" class="btn btn-danger delete-button-gallery">
              <span id="{{ gallery.id }}" aria-hidden="true" class="glyphicon glyphicon-trash delegate"></span>
            </button>
          {% endif %}
          <a href="{% url 'galleries:detail' pk=gallery.id %}">
            <img src="{{ gallery.image_set.all.first.file | thumbnail_url:'gallery-thumb' }}"
                 alt="{{ gallery.image_set.all.first.title }}"/>
            {% for i in gallery.image_set.all|slice:"1:4" %}
              <img src="{{ i.file | thumbnail_url:'gallery-secondary-thumb' }}"
                   alt="{{ i.title }}"/>
            {% endfor %}
          </a>
        </div>
      {% endfor %}
    </div>

    <div class="container">
      <a class="gallery-add-button" href="{% url 'galleries:new' %}"><span aria-hidden="true"
                                                                           class="glyphicon glyphicon-plus"></span></a>
    </div>
  </div>
{% endblock content %}
