{% extends "base.html" %}
{% load static %}

{% block title %}Gallery: {{ gallery.title }}{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>{{ object.title }}</h2>
    <a href="{% url 'users:detail' object.author %}">{{ object.author }}</a>
        <ul>
          {% for image in gallery.image_set.all %}
            <li id="{{ image.id }}_master">
              <a href="{{ image.file.url }}" data-lightbox="{{ gallery.title }}" data-title="{{ image.title }}">
                <img alt="{{ image.title }}" src="{{ image.file.url }}" width="100%"/>
              </a>
              {% if gallery.author.id == user.id or user.is_superuser %}
              <button id="{{ image.id }}_delete" class="btn btn-danger delete-button-image">
                <span aria-hidden="true" class="glyphicon glyphicon-trash delegate"></span>
              </button>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="container">
        <a class="gallery-add-button" href="{% url 'galleries:edit' gallery.id %}"><span aria-hidden="true"
                                                                              class="glyphicon glyphicon-plus"></span></a>
      </div>
    </div>
  </div>
{% endblock content %}
