{% extends "base.html" %}
{% load static %}

{% block title %}Gallery: {{ gallery.title }}{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>{{ gallery.title }}</h2>
        <ul>
          {% for image in gallery.image_set.all %}
            <li><img alt="{{ image.title }}" src="{{ image.file.url }}" width="100%"/></li>
          {% endfor %}
        </ul>
      </div>
      <div class="container">
        <a class="gallery-add-button" href="{% url 'galleries:edit' gallery.id %}"><span aria-hidden="true"
                                                                              class="glyphicon glyphicon-plus"></span></a>
      </div>
    </div>
  </div>
{% endblock content %}

