{% extends "base.html" %}
{% block content %}
    <div id="about" class="container">
        <div class="row text-shade">
            <h1 class="container">Welcome on Waffle Pancake!</h1>
            <div class="col-md-12">
                <p>
                    <strong>Waffle Pancake</strong> is an application developed to help
                    you manage your pictures.
                    Don't hesitate to <a href="{% url 'account_signup' %}">sign up</a> and create your first gallery!
                </p>
            </div>
        </div>
    </div>
{% endblock %}
