
# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=1234
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_NAME=shinywaffle
# DATABASE_URL="postgres://postgres:1234@127.0.0.1:5432/shinywaffle

# General settings
# DJANGO_READ_DOT_ENV_FILE=True
DJANGO_ADMIN_URL=
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=sm_):PvPHc:^d]K>Qv)>(__fr,&Nc~:*#$/dyAlBbK}D?]pVNl
DJANGO_ALLOWED_HOSTS=.example.com

# Used with email
EMAIL_BACKEND = 'django.core.mail.backends.console.EmailBackend'
DJANGO_SERVER_EMAIL=

# Security! Better to use DNS for this task, but you can use redirect
DJANGO_SECURE_SSL_REDIRECT=False

# django-allauth
DJANGO_ACCOUNT_ALLOW_REGISTRATION=True



